.card{

  background-color:hsl(0, 0%, 100%);
  border-radius: 17px solid blue;
  text-align: center;

}

.card__img{
  width: 100%;
  border-radius: 12px;
}
.card__text{
  padding: 22px 10px;
}

.card__description{
  padding: 42px 10px;
  background-color: rgb(227, 236, 236);
  border-radius: 12px;
}
